.content
  %h1
    %i.icon-heart
    = 'ズルいデザイン'

  %section.section#section01
    %h2.title
      %span.num<>= '1'
      = 'ズルい線'
    .zurui-line-square
    .zurui-line-bottom
      
  %section.section#section02
    %h2.title
      %span.num<>= '2'
      = 'ズルい線'
    .zurui-line-square
    .zurui-line-bottom

